* {
    margin: 0;
    padding: 0;
    outline: ;
}

.clr {
    clear: both;
}

ol,
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.mr {
    margin-right: 0 !important;
}

.full-wrapper {
    width: 100%;
    
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

.header {
    
    position: fixed;
    top: 0;
    left: 0;
    transition: all linear .3s;
}
.bg{
    background: rgba(0, 0, 0, 0.9);
    animation: menu 2s;
}
@keyframes menu{
    from{
        top: -100px;
    }
    to{
        top: 0px;
    }
}
.preloader{
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    z-index: 9999;
    height: 100%;
    width: 100%;
}
#load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo {
    width: 300px;
    float: left;
}

.logo img {
    padding-top: 30px;
}

.menu {
    width: 870px;
    float: left;
    text-align: right;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 37px;
    line-height: 90px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
}

.menu ul li a:hover {
    color: #27aecc;
    transition: all linear .3s;
}

.benner {
    background: url(../image/xxx.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 240px;
    padding-bottom: 250px;
}

.benner-text {
    text-align: center;
}

.benner-text h2 {
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
}

.benner-text h3 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
}

.benner-text p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.service {
    background: #f9f9f9;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-text {
    text-align: center;
}

.service-text h3 {
    color: #444;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
}

.service-text p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 25px;
    padding-bottom: 70px;
}

.service-text h4 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 25px;
    text-transform: uppercase;
}

.service-item {
    padding: 16px;
    width: 368px;
    border: 1px solid #e3e3e3;
    float: left;
    margin-right: 25px;
    box-sizing: border-box;

}

.service-item img {
    width: 100%;
}

.service-item-t {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-item-t h3 {
    color: #444;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    padding-bottom: 10px;
}

.service-item-t p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    padding: 0 15px;
}

.instagram {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #2c2c2c;
}

.instagram-text {
    text-align: center;
}

.instagram-text h3 {
    color: #d5d5d5;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
}

.instagram-text h3:before {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    left: -110px;
    background: #535353;
}

.instagram-text h3:after {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    right: -110px;
    background: #535353;
}

.insta-item {
    width: 25%;
    float: left;
}

.insta-btn {
    text-align: center;
}

.insta-btn h4 {
    color: #a6a6a6;
    border: 1px solid #a6a6a6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 55px;
}

.insta-btn i {
    margin-right: 7px;
}

.journal {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f9f9f9;
}

.journal-text {
    text-align: center;
}

.journal-text h3 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 30px;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}

.journal-text h3:before {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    left: -110px;
    background: #535353;
}

.journal-text h3:after {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    right: -110px;
    background: #535353;
}

.journal-item {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 368px;
    border: 1px solid #e3e3e3;
    float: left;
    margin-right: 25px;
    box-sizing: border-box;
}

.journal-item h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444;
}

.journal-item h5 {
    text-align: center;
    color: #999;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 15px;
}

.journal-item p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 22px;
    padding-left: 26px;
    padding-right: 30px;
}

.journal-btn {
    padding-left: 26px;
    padding-right: 30px;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
    text-align: right;
}

.btn-left a {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #28b8d8;
    text-transform: uppercase;
}

.btn-right h5 {
    color: #999;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
}

.btn-right span {
    margin-left: 5px;
}

.about {
    padding-bottom: 80px;
    background: #f9f9f9;
}

.about-left {
    float: left;
    width: 570px;
}

.about-right {
    float: left;
    width: 570px;
    margin-left: 30px;
}

.about-head {
    padding-bottom: 30px;
}

.about-head h3 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.about-head h3:before {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    right: -114px;
    background: #d9d9d9;
}

.about-img {
    width: 197px;
    float: left;
}

.about-img img {
    width: 100%;
}

.about-text {
    margin-left: 28px;
    width: 345px;
    float: left;

}

.about-text h5 {
    color: #666;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    line-height: 28px;
    padding-bottom: 25px;

}

.about-text p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;

}

.right-head h3 {
    color: #444;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
}

.right-head h3:before {
    width: 100px;
    height: 1px;
    position: absolute;
    content: '';
    top: 10px;
    right: -114px;
    background: #d9d9d9;
}

.right-head {
    padding-bottom: 30px;
}

.right-img {
    float: left;
    width: 46px;
    margin-right: 25px;
}

.right-text {
    float: left;
    width: 455px;
    margin-right: 44px;
}



.right-text h3 {
    color: #444;
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
}

.right-text p {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 22px;
    padding-top: 17px;
    padding-bottom: 30px;
}

.contact {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #373737;
}

.contact-text {
    width: 25%;
    float: left;


}

.contact-text h3 {
    color: #f0f0f0;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.contact-text p {
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    padding-bottom: 25px;
    width: 257px;
}

.content-icon {
    width: 7%;
    float: left;
}

.content-icon i {
    color: #cacaca;
    line-height: 24px;


}

.content-info {
    width: 93%;
    float: left;
}

.content-info h5 {
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    width: 185px;
}

.contact-text h4 {
    color: #929292;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 30px;
}

.contact-text h2 {
    color: #929292;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}

.contact-text h6 {
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.fooder {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #333333;
}

.fooder h4 {
    color: #cacaca;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
.back-top{
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 999;
}
.back-top i{
    text-align: center;
    line-height: 50px;
    background: #4eff00;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    
    
    color: #fff;
}
.typed_wrap {
	display: block;
	border: 4px solid #ecf0f1;
	width: 290px;
	height: auto;
	padding: 30px;
	
	/*centers it in the .banner*/
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.typed_wrap h1 {
	display: inline;
}

/*Add custom cursor so it auto inherits font styles*/
.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}

.counter-up{
    background: #444;
    padding-top: 150px;
    padding-bottom: 150px;
}
.counter-item{
    width: 25%;
    float: left;
    text-align-last: center
}
.counter-item h1,p{
    color: #fff;
    font-size: 30px;
}
.counter-part{
    text-align: center;
}
.counter-part h1{
    color: #fff;
}
.video{
    
    background: url(../image/vid.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.video-overly{
   padding-top: 300px;
    padding-bottom: 300px;
    background: rgba(0, 0, 0, 0.61);
}
.icon{
    text-align: center;
}
.icon i{
    color: #fff;
    font-size: 80px;
}
/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Slab', serif;*/
